@import url('href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Figtree', sans-serif;
    background: white;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

/* Main Header */

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
}

/* Logo */

.logo {
    width: 180px;
    height: auto;
}

.logo img{
    display: block;
    width: 70%;
    height: auto;
}

/* Destop Main Menu */

.destop-main-menu-left ul{
    display: flex;
}

.destop-main-menu-left ul li{
    position: relative;
    margin: 10px;
    font-size: 14px;
    font-weight: 700;
}

.destop-main-menu-right ul{
    display: flex;
    width: 180px;
    
}

.destop-main-menu-right ul li{
    position: relative;
    padding-bottom: 2px;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 700;
}

/* Menu item bottom border*/

.destop-main-menu-left ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    transform-origin: right center;
}

.destop-main-menu-left ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left center;
}

.section{
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.section-a{
    background-image: url('../img/M3-Homepage-Desktop-LHD.jpg');
}



