@import url('href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Figtree', sans-serif;
    background: white;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

/* Main Header */

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}

/* Logo */

.logo {
    width: 210px;
    height: auto;
}

.logo img{
    display: block;
    width: 100%;
    height: auto;
}

/* Destop Main Menu */

.destop-main-menu{
    margin-right: 50px;
}

.destop-main-menu ul{
    display: flex;
}

.destop-main-menu ul li{
    position: relative;
    margin: 20px;
    padding-bottom: 2px;
    
}
